---
layout: layout.liquid
title: Profile Page
---

<div class="container">
    <h1 class="title gugi-regular">UX CONNECT</h1>
    <div class="profile-pic">
        <img src="/images/profile-picture.png">
    </div>
    <h2 class="heading gugi-regular">Jane Doe</h2>
    <div class="about">
        <p>Current Title: UX Designer</p>
        <p>Company: Google</p>
        <p>Achievements: Worked on a UX team that prioritized in Google Maps</p>
    </div>
    <p class="heading gugi-regular">Contact</p>
    <div class="about">
        <p>Email: janedoe@gmail.com</p>
        <p>Phone: 555 555-5555</p>
    </div>
</div>